body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: aliceblue;
    text-align: center;
    font-size: 3em;
    padding: 20px 0;
}

/* setup container boxes */

#dashboard_container {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
    padding: 20px 0;
}

/* calculator css */


.zero.calc_button {
    grid-column-start:1;
    grid-column-end:3;
}

#calculator_buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
    background: aliceblue;
    height: -webkit-fill-available;
}