body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: aliceblue;
    text-align: center;
    font-size: 3em;
    padding: 20px 0;
}

footer {
    background: aliceblue;
    height: 200px;
}

/* setup container boxes */

#dashboard_container {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px 0;
    grid-template-rows: 330px;
}

section.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.container h2 {
    text-align: center;
}

/* clock css */

div#clock {
    display: flex;
    justify-content: center;
    font-size: 3em;
    width: fit-content;
    font-family: 'Comfortaa', sans-serif;
    background: #000;
    color: #fff;
    border-radius: 15px;
    border: 5px solid #79512A;
}

.hour, .colon, .minutes {
    padding: 9px;
}

/* calendar css */

div#calendar {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: fit-content;
    border: 2px solid #000;
    border-radius: 5px;
}

.date {
    text-align: center;
    padding: 10px;
    font-size: 4em;
}

.day {
    text-align: center;
    padding-bottom: 10px;
}

.month_year {
    font-size: 1.5em;
    background: red;
    padding: 10px;
    color: white;
    border-bottom: 1px solid #000;
}

.colon {
    bottom: 4px;
    position: relative;
}

/* calculator css */


.zero.calc_button {
    grid-column-start:1;
    grid-column-end:3;
    width: -webkit-fill-available;
    border-radius: 25px;
}

#calculator_buttons {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 10px;
}

.calc_container {
    background: #000;
    padding: 5px;
    width: 170px;
    border-radius: 5px;
}

input#calculator_screen {
    text-align: right;
    padding: 10px 5px 5px 0;
    font-size: 2.5em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0px;
    background: #000;
    width: -webkit-fill-available;
}

button.calc_button {
    height: 32px;
    -webkit-appearance: none;
    border: 0px;
    border-radius: 50%;
    padding: 0px;
    width: 32px;
}

button.gray {
    background: #949494;
}

button.symbol {
    background-color: #EA872B;
    color:#fff;
}

button.digit {
    background: #262626;
    color: #fff;
}

/* To Do CSS */

.add_btn, input#todo_input {
    font-size: 1.25em;
}

.add_btn {
    border-radius: 50%;
    color: green;
    border: 2px solid green;
    padding: 1px 7px;
}

input#todo_input {margin-left: 5px;padding: 5px;}

ul#listed_todo {
    padding: 0;
    list-style:none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 7px 5px 7px 30px;
    font-size: 100%;
    transition: 0.2s;
    user-select: none;
    border-bottom: #eee 1px dashed;
    border-top: #eee 1px dashed;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #efefef;
    color: #000;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #000;
    border-style: solid;
    border-width: 0 2px 2px 0;
    bottom: 10px;
    left: 10px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.add_btn:hover {
    border: 2px solid green;
    color: #fff;
    background: green;
    transition: 0.4s;
}

.close {
    padding: 0px 7px;
    position: absolute;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
    right: 5px;
    top: 6px;
}

.close:hover {
    border-color: red;
    background: red;
    color: #fff;
    transition: 0.4s;
}

/* Greeting CSS */

p#friendly_greeting {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 175px;
    background: #FFEF7A;
    line-height: 1.5;
}

/* Mobile Style */

@media (max-width: 600px) {
    #dashboard_container {
        display:flex;
        flex-direction: column;
    }
    section.container {
        margin-bottom: 30px;
    }
   
}

/* Geolocator CSS */

div#geolocator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#location_btn {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    padding: 10px 20px;
    width: fit-content;
    border: 2px solid green;
    color: green;
    transition:.4s;
}

button#location_btn:hover {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    font-size: 14px;
    padding: 10px 20px;
    width: fit-content;
    border: 2px solid green;
    color: white;
    background:green;
}