body {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    margin: 0;
}

header {
    display: flex;
    margin-bottom: 20px;
}

header > div {
    margin: 10px;
}

img#profile {
    width: 130px;
    border-radius: 50%;
    margin-bottom: 5px;
}


.profile_pc.social_links {
    min-width: 195px;
    height: 140px;
    text-align: center;
}

.contact_info {
    text-align: center;
    clear: right;
    line-height: 1;
    width: -webkit-fill-available;
}


main {
    clear: both;
    display:flex;
}

main > div {
    margin: 10px;
}

div#contact h4 {
    width: 30%;
}

div#contact {
    display: flex;
    flex-direction: row;
}

div#contact h4 {
    width: 30%;
}

#left_column section, 
#right_column section {
    padding: 10px;
    margin-bottom: 10px;
}

#left_column section h3,
#right_column section h3 {
    margin: 0;
    border-bottom: 1px solid #000;
}

#left_column section {
    background: lightblue;
}

#left_column section {
    padding: 10px;
    background: lightblue;
    margin-bottom: 10px;
}

#left_column section h3 {
    margin: 0;
    border-bottom: 1px solid #000;
}

div#right_column {
    width: -webkit-fill-available;
}

div#right_column section {
    background: lightblue;
    margin-bottom: 25px;
}

article .subheading {
    width: fit-content;
    display: flex;
    width: -webkit-fill-available;
}

div#right_column {
    width: -webkit-fill-available;
}

.subheading p {
    width: 30%;
}

