
header {
    height: 100px;
    background: lavender;
    text-align: center;
    font-size: 4em;
    padding-top: 15px;
}

h1 {
    text-align: center;
}

body {
    background: #f6f6f6;
    font-style: normal;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
}

section {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid gray;
    margin-bottom:40px;
}

article {
    margin: 10px;
    background: #fff;
    border: 1px solid  #d7d7d7;
}

h2 {margin-left: 5px;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 0px;
}

div.date_line p {
    margin: 2px 0px 0px 20px;
    color: #005;
}

div.description p {
    margin-left: 50px;
}

footer {
    height: 100px;
    background: lavender;
}

div.date_line p {
    color: #bdbdbd;
    font-size: 12px;
}