h1 {
    text-align: center;
}

body {
    background: #f6f6f6;
    font-style: normal;
}

section {
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid gray;
}

article {
    margin: 10px;
    background: #fff;
    border: 1px solid  #d7d7d7;
}

h2 {margin-left: 5px;text-decoration: underline;margin-bottom: 0px;}

div.date_line p {
    margin: 2px 0px 0px 20px;
    color: #005;
}

div.description p {
    margin-left: 50px;
}