body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./img/dt-atx-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px; 
    width:fit-content;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 15% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 3% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 3% auto;
    font-style: italic;
    color:white;
  }
  
  button {
    grid-column: 2/3;
    margin: 3% auto;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 5%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
  }

  /* Animations */

img#profile-pic {
  animation: flip 5s infinite;
}

@keyframes flip {
  from {
      transform:rotate(0deg)
  }
  to {
      transform: rotate(360deg)
  }
}

main h1, main h2 {
  animation: title 10s;
}

@keyframes title {
  0% {
      color: #fff;
      border-bottom: #fff;
  }
  10% {
      color: yellow;
      border-bottom: yellow;
  }
  20% {
      color: orange;
      border-bottom: orange;
  }
  30% {
      color: orangered;
      border-bottom: orangered;
  }
  40% {
      color: red;
      border-bottom: red;
  }
  50% {
      color: #000;
      border-bottom: #000;
  }
  60% {
      color: red;
      border-bottom: red;
  }
  70% {
      color: orangered;
      border-bottom: orangered;
  }
  80% {
      color: orange;
      border-bottom: orange;
  }
  90% {
      color: yellow;
      border-bottom: yellow;
  }
  100% {
      color: #fff;
      border-bottom: #fff;
  }
}

