body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: aliceblue;
    text-align: center;
    font-size: 3em;
    padding: 20px 0;
    margin-bottom:20px;
}

#click_game {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  
  #totalCash {
    min-width:300px;
    height:50px;
    border:1px solid #000;
    text-align:right;
    font-size:3em;
    padding:0px 10px;
  }
  
  #buttons {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    min-width:300px;
  }
  
  div.btn {
    width:80px;
    height:80px;
    border-radius:50%;
    margin-top:10px;
      transition: .2s;
    text-align:center;
    -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  }
  
  div.cash {
    background: green;
    color:#fff;
    font-size:4em;
    border: 2px solid green;
  }
  
  div.cash:hover {
    background: #fff;
    color: green;
    border: 2px solid green;
  }
  
  #totalCash:before {
    content:'$';
    color:green;
    float:left;
  }
  
  div.autoclick {
    background: orange;
    color:#fff;
    font-size:4em;
    border: 2px solid orange;
  }
  
  div.multiplier {
    background: orange;
    color:#fff;
    border: 2px solid orange;
        font-size: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  img {
    top:10px;
    position:relative;
    filter: invert(100%);
  }
  
  .activate_click,
  .activate_mult {
    margin-top:10px;
    background: black;
    min-width:300px;
    font-size:1.5em;
    padding:10px;
    color: white;
    border:4px solid black;
      -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  }
  
  .activate_click span,
  .activate_mult span {
    float:right;
  }
  
  .active {
    border:4px solid black !important;
    background: white !important;
    color: black !important;
  }
  
  .rotate_clicker {
    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform:rotate(360deg);}
  }