/* Mobile-first style */

main {
    display: flex;
    margin:10px;
}

header {
    height: 75px;
    text-align: center;
    font-size: 2.25em;
    padding-top: 30px;
    width: auto;
    background-image: linear-gradient(red, white, red);
}

body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.article_image {
    margin: 40px;
}

img {width: 100%;}

section.main_story {
    width: 100%;
    margin: 0;
}

div#top_stories {
    display:none;
}

h2.story_title {
    font-size: 2em;
    margin-left: 40px;
    margin-right: 40px;
}

section.main_story p {
    font-size: 1.2em;
    margin-left: 40px;
    margin-right: 40px;
}

.cta {
    text-align: center;
    margin: 10px 0 10px 0;
}

button.read_more {
    font-size: 1.25em;
    padding: 10px 20px;
    background: black;
    color: white;
}



/* Beyond Mobile Styling */
@media (min-width: 875px) {
    main {
        padding: 25px;
        max-width: 1150;
        margin: auto;
        background: white;}

    body {
        background: red;
    }

    #top_stories {
        display: block !important;
        width: 50%;
        margin: 0 20px;
    }
    
    #top_stories h4 {
        margin-top: 0px;
        font-size: 2em;
        margin-bottom: 0;
        border-bottom: 1px solid #000;
    }
    
    div.ts_blurb h6 {
        margin: 0;
        font-size: 1em;
    }
    
    div.ts_blurb p {
        font-size: .75em;
    }
    
    .ts_blurb {
        padding-bottom: 10px;
        border-bottom: 1px dotted;
        padding-top: 10px;
    }

    div.article_image {
        margin: 0px !important;
    }

    h2.story_title,
    section.main_story p {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    
}
